body {
    font-family: 'Ubuntu', Arial, sans-serif;
    text-align: center;
    background-color: rgb(43, 43, 43);
    color: #ffffff;
}

h1, p {
    color: #ffffff;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Ubuntu', sans-serif;
}

button:hover {
    background-color: #0056b3;
}

a {
    display: inline-block;
    color: rgb(0, 140, 255);
}

a:hover {
    color: rgb(0, 120, 218);
}