body {
    /*background-image: url(/Assets/backgroundfull.png);*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Ubuntu', Arial, sans-serif;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.gif {
    justify-self: center;
    align-self: center;
    margin-top: 5vh;
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 80vh;
}

html, body {
    overflow: hidden;
    height: 100dvh;
}

.shootingStarsCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    color: rgba(255, 255, 255, 1);
    z-index: -2;
}

.backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    color: rgba(255, 255, 255, 1);
    z-index: -1;
}

.container {
    width: 60%;
    max-width: 800px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgb(24, 24, 24);
    padding: 20px;
    z-index: 1;
    position: absolute;
    box-sizing: border-box;
    overflow: auto;
}

.button-container {
    background-color: rgb(6, 6, 6);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.project-container {
    background-color: rgb(17, 17, 17);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 5px;
}

br {
    margin: 0.5vh;
}

h1 {
    background-color: rgb(6, 6, 6);
    color: rgb(232, 232, 232);
    border: none;
    padding: 10px 20px;
    font-family: 'Ubuntu', sans-serif;
    display: block;
    width: calc(100% - 40px);
    margin: 10px auto;
    font-size: 2rem;
    box-sizing: border-box;
}

h2 {
    background-color: rgb(6, 6, 6);
    color: rgb(232, 232, 232);
    border: none;
    padding: 10px 20px;
    font-family: 'Ubuntu', sans-serif;
    display: inline-block;
    margin: 5px;
    font-size: 1rem;
}

p {
    background-color: rgb(17, 17, 17);
    color: rgb(232, 232, 232);
    border: none;
    padding: 10px 20px;
    font-family: 'Ubuntu', sans-serif;
    display: inline-block;
    margin: 5px;
    font-size: 1rem;
}

ul {
    background-color: rgb(17, 17, 17);
    color: rgb(232, 232, 232);
    border: none;
    padding: 10px 20px;
    font-family: 'Ubuntu', sans-serif;
    display: inline-block;
    margin: 5px;
    font-size: 1rem;
}

button {
    background-color: rgb(6, 6, 6);
    color: rgb(232, 232, 232);
    border: none;
    padding: 10px 20px;
    cursor: crosshair;
    font-family: 'Ubuntu', sans-serif;
    display: inline-block;
    margin: 5px;
}

small {
    color: rgba(232, 232, 232, 0.4);
}

.special-small {
    color: rgba(232, 232, 232, 0.4);
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%); 
}

button:hover {
    background-color: rgb(40, 40, 40);
}

a {
    display: inline-block;
    color: rgb(0, 140, 255);
}

a:hover {
    color: rgb(0, 120, 218);
    cursor: crosshair;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}

@media screen and (max-width: 680px) {
    body {
        flex-direction: column;
        align-items: stretch;
        overflow-y: auto;
    }

    .container {
        width: 100%;
        padding: 10px;
    }

    h1 {
        font-size: 1.3rem;
    }

    h2, p, button {
        font-size: 0.8rem;
        padding: 8px 15px;
    }

    button {
        width: 100%;
    }

    .special-small {
        font-size: 0.7rem;
        bottom: 5px;
    }
}