html, body {
    height: 100dvh;
    overflow: hidden;
    margin: 0;
    font-family: 'Lato', Arial, sans-serif;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}




.main-card {
    width: 60%;
    max-width: 800px;
    height: calc(100% - 20px);

    display: flex;
    flex-direction: column;

    gap: 10px;

    background: transparent;
    padding: 20px;

    box-sizing: border-box;
    border-radius: 8px;

    overflow: hidden;

    animation: pageIn 500ms ease-out;
}


header {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: calc(100% - 40px);
}

#app {
    flex: 1;
    overflow: auto;
}

header,
#app {
    background-color: rgb(24, 24, 24);
    border-radius: 8px;
    padding: 16px;
}

h1, h2, p, input {
    border: none;
    display: block;
    width: calc(100% - 40px);
    margin: 10px auto;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    border-radius: 8px;
}

h1 {
    background-color: rgb(6, 6, 6);
    padding: 10px 20px;
    font-size: 2rem;
}

h2 {
    background-color: rgb(6, 6, 6);
    padding: 10px 20px;
    font-size: 1rem;
}

p {
    background-color: rgb(17, 17, 17);
    padding: 10px 20px;
}



ul, ol {
    background-color: rgb(17, 17, 17);
    padding: 10px 20px;
    margin: 10px auto;
    width: calc(100% - 40px);

    box-sizing: border-box;
    border-radius: 8px;

    list-style-position: inside;
}



img {
    display: block;
    margin: 0 auto;
    border-radius: 8px;
}



.navigation-buttons {
    background-color: rgb(6, 6, 6);
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;

    width: calc(100% - 40px);
    margin: 5px auto;
    box-sizing: border-box;
    border-radius: 8px;

    padding: 10px;

    overflow-x: auto;
    overflow-y: hidden;
}



button {
    width: 100%;
    background-color: rgb(6, 6, 6);
    color: rgb(232, 232, 232);
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover, button:disabled {
    background-color: rgb(40, 40, 40);
    transform: scale(1.05);
}

button:active:not(:disabled) {
    transform: scale(0.95);
}



a {
    display: inline-block;
    color: rgb(0, 140, 255);
    text-decoration: none;
}

a:hover {
    color: rgb(0, 120, 218);
    transform: scale(1.05);
}

a:active {
    transform: scale(0.95);
}



* {
    transition: transform 300ms ease;
    box-sizing: border-box;
}



.wavy span {
    display: inline-block;
}



@keyframes pageIn {
    from {
        opacity: 0;
        transform: translateY(12px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}